<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
    href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script
    src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>
    {% load staticfiles %}
    <link rel="stylesheet"
    href="{% static 'games_app/octicons/octicons.css' %}">

    <link rel="stylesheet" href="{% static 'games_app/css/bootstrap.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}{% endblock %}

    <title>{% block title %}Open Cloud Arcade{% endblock %}</title>
</head>

<body>

  <header>{% include 'games_app/nav.html' %}</header>

  <div id="content">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
